@charset "UTF-8";

body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  font-feature-settings: "palt";
  background: linear-gradient(45deg, #ff4656ee, #0a141eee);
  overflow: hidden;
}

.main {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.seasons-select-wrap {
  position: relative;
  margin-top: 40px;
}

.seasons-select-wrap::before {
  content: "";
  position: absolute;
  top: 48%;
  right: 15px;
  width: 10px;
  height: 10px;
  border: 2px solid;
  border-color: transparent transparent rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2);
  transform: translate(-50%, -50%) rotate(-45deg);
  pointer-events: none;
}

.seasons-select {
  width: 100%;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 1em;
  outline: none;
}

.seasons-select option {
  color: #000;
}

.day-remaining {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  margin-top: 10px;
}

.day-remaining-unit {
  text-align: right;
}

.season-start-time {
  display: flex;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-top: 40px;
}

.season-end-time {
  display: flex;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-top: 10px;
}

.start-time-month,
.start-time-date,
.end-time-month,
.end-time-date {
  text-align: right;
}

.season-days {
  display: flex;
  margin-top: 10px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.countdown {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-top: 40px;
}

.countdown-time {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
  font-weight: 700;
  background: linear-gradient(0deg, #fff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 10px #fff);
  user-select: none;
  margin-top: 10px;
}

.countdown-unit {
  font-size: 32px;
  line-height: 0.9;
  margin-right: 6px;
}

@media screen and (max-width: 768px) {
  .countdown-unit {
    font-size: 4vw;
  }
}

.countdown-day,
.countdown-hour,
.countdown-min,
.countdown-sec {
  font-size: 86px;
  line-height: 0.76;
  margin-right: 6px;
}

@media screen and (max-width: 768px) {
  .countdown-day,
  .countdown-hour,
  .countdown-min,
  .countdown-sec {
    font-size: 11vw;
  }
}
